html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }


#container {
	width: 100%;
}

h1 {
	font-weight: normal;
}

a {
	color: #676767;
	text-decoration: none;
}

ul, li {
	display: inline;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

hr {
	margin: 30px -20px;
	border-bottom: 1px solid #dedede;
}


BODY {
	background-attachment: fixed;
	font-family: helvetica, verdana, sans-serif;
	font-size: 1em;
	color: #676767;
	background: #f6f6f6 url('./img/bg.png');
	line-height: 2em;
	padding: 20px;
	font-weight: lighter;
}


section {
	background: #fff;
	padding: 20px;
}





header {
	margin: -20px;
	margin-bottom: 20px;
	padding: 50px;
	background: #fff;
}

header h1 {
	margin: 0px 20px;
	font-size: 1.8em;
}

header ul li {
	margin: 0px 20px;
}

header ul li a {
	font-size: 1.2em;
}










.breadcrumbs {
	padding: 10px 20px;
}

.breadcrumbs a {
	color: #868686;
}








.notification {
	padding: 20px;
	text-align: center;
	color: #EFEFEF;
	font-size: 1.4em;
	text-shadow: 1px 1px 1px #000;
	font-weight: 100;
}

.error {
	background: #e14722;
}













