html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }


#container {
	width: 100%;
}

BODY {
	background: url('http://www.getopendashboard.com/demo/img/demo_bg.jpg') center top;
	background-attachment: fixed;
    font-family: 'Droid Sans', helvetica, verdana, sans-serif;
	font-size: 0.8em;
    color: #202020;
	line-height: 2em;
}


A {
	color: #909090;
	text-decoration: none;
}

A:hover {
	text-decoration: underline;
}

P {
	margin-bottom: 1em;
}




/** header settings **/


HEADER {
    background: url('http://www.getopendashboard.com/demo/img/header_bg.jpg') fixed;
	border-bottom: 1px solid #BEBEBE;
	color: #828282;
	height: 58px;
	line-height: 58px;
}

HEADER > DIV {
	width: 960px;
	margin: 0 auto;
}

HEADER A {
	color: #828282;
}

HEADER A.email {
	color: #cecece;
}

HEADER .user_info {
	float: left;
	margin-left: 25px;
}


HEADER #settings {
	margin-right: 25px;
	float: right;
}


SECTION, ARTICLE {
	margin-bottom: 20px;
}

SECTION#content { /** redo this **/
	margin-bottom: 0px;
}


H1 {
	font-size: 16px;
	margin-bottom: 15px;
}

HR {
	border-bottom: 1px solid #e8e8e8;
	margin-top: 15px;
	margin-bottom: 15px;
}



DIV#body {
	width: 960px;
	margin: 0px auto;
	background: #fff;
}

DIV#body SECTION#content {
	float: left;
	width: 640px;
	padding: 20px 40px;
}



NAV {
	padding: 20px;
}

NAV UL {
	margin: 0px;
	padding: 0px;
	margin-left: 20px;
}

NAV UL LI {
	display: inline;
	margin-right: 40px;
}

.active A {
	color: #8cc518;
	font-weight: bold;
}

#breadcrumbs {
	margin-left: 20px;
}



/** sidebar styles **/

#sidebar {
	padding: 20px;
	padding-left: 40px;
	float: left;
	width: 169px;
	border-right: 1px solid #e8e8e8;
}


UL {
	margin-left: 5px;
}

UL LI {
	list-style: none;
}

UL LI A {
	color: #7B7B7B;
	text-decoration: none;
}


UL LI UL {
	margin-left: 25px;
}

UL LI UL LI {
	list-style: circle;
}






.generic_content {
	background: #f9f9f9;
	border: 1px solid #e9e9e9;
	padding: 20px;
}

.generic_content H1 {
	
}



.clear {
	clear: both;
}


/** Pagination **/

.pagination {
	margin: 10px 0px;
	text-align: center;
}

.pagination UL LI A {
	font-size: 0.8em;
	margin-left: 5px;
	margin-right: 5px;
	background: #eaeaea;
	padding: 3px 8px;
}





/** Generic forms **/

FORM {
	margin-top: 50px;
	
	padding: 15px;
	border: 1px solid #cecece;
}

FORM DIV {
	margin-bottom: 15px;
}

LABEL {
	width: 250px;
}

LABEL INPUT {
	width: 250px;
	font-size: 16px;
	padding: 7px 15px;
}

.form_submit {
	margin-top: 15px;
	padding: 7px 15px;
	display: block;
	
}







/** Notifications **/

.notification {
	font-weight: bold;
	background: #f7f7f7;
	margin: 10px 0px;
	padding: 20px 15px;
	border-right: 1px solid #D2D2D2;
	border-bottom: 1px solid #D2D2D2;
	border-left: 25px solid #cecece;
}

.success {
	color: #84A856;
	border-left: 25px solid #84A856;
}

.error {
	color: #B7260E;
	border-left: 25px solid #B7260E;
}

.warning {
	color: #D17806;
	border-left: 25px solid #D17806;
}




/** tabular data **/

TABLE {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #cecece;
	color: #4b4b4b;
}

THEAD {
	background: #eeeeee;
}

THEAD TR TD {
	padding: 15px 15px;
}




TD {
	padding: 5px 15px;
}

.alt {
	background: #eeeeee;
}
















FOOTER {
	width: 960px;
	margin: 0 auto;
	background: #1A1B1A;
	margin-bottom: 60px;
}

FOOTER UL LI A {
	color: #B7B7B7;
}










@media screen and (max-width: 1024px) {
	
	BODY {
		font-size: 1em;
	}

	HEADER > DIV { /** make it take up all the space for small devices **/
		width: 100%;
	}
	
	DIV#body {
		width: auto;
		margin: 0px 20px;
	}
	
	#sidebar {
		
	}
	

	
	DIV#body SECTION#content {
		float: none;
		width: auto;
	}

	#content {
		padding-left: 250px !important;
	}

	FOOTER {
		width: auto;
	}


}




@media screen and (max-width: 640px) {


	BODY {
		font-size: 1em;
	}


	HEADER > DIV { /** even smaller **/
		width: 100%;
		color: green;
	}

	DIV#body {
		width: auto;
		margin: 0px 20px;
	}

	FOOTER {
		width: auto;
		margin: 0px 20px;
	}

	#sidebar, DIV#body SECTION#content {
		float: none;
		border-right: none;
		width: auto;
	}

}













.focus {
	font-weight: bold;
}





