BODY {
	font-family: 'Droid Sans', Verdana, Tahoma, sans-serif;
	font-size: 13px;
	line-height: 24px;
	background: #89472e;
	background: url('../img/demo_bg.jpg'); /** Amazing free background by Digital Visions Queenstown - http://downloads.dvq.co.nz/ - http://downloads.dvq.co.nz/ **/
	background-attachment: fixed;
	color: #212121;
    padding-bottom: 40px;
}


/** Generic styles **/

A {
    color: #3c3c3c;
    text-decoration: none
}

A.active {
    color: #6d8b25;
	font-weight: bold;
}

A:hover {
    border-bottom: 1px solid #1d1d1d;
}

P {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    line-height: 28px;
    margin-bottom: 28px;
}

H2 {
    font-size: 16px;
    line-height: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
}

H3, H4, H5 {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
}

#content {
    background: #eaeaea;
}

.main_content {
    padding-left: 20px;
    padding-right: 40px;
}





/** Generic boxes **/

.data_box {
	padding: 30px;
	border-radius: 3px; /* Added by border radius plugin */
	background: #f5f5f5;
	border-bottom: 1px solid #d2d2d2;
	border-right: 1px solid #d2d2d2;
	margin-bottom: 20px;
	font-size: 12px;
	-moz-border-radius: 3px; /* Added by border radius plugin */
	-webkit-border-radius: 3px; /* Added by border radius plugin */
	-khtml-border-radius: 3px; /* Added by border radius plugin */

}

.data_box DIV {
	float: left;
	width: 20%;
	display: block;
	padding: 0px;
	margin: 0px;
	line-height: 13px;
	position: relative;
	top: -5px;
	text-align: center;
	min-width: 100px;
}

.data_box .data_box_name {
	width: 40%;
	text-align: left;
	font-weight: bold;
}

.generic_content {
	padding: 10px 30px;
	border: 1px solid #D2D2D2;
	background: #fff;
}

.generic_content H2 {
	font-size: 14px;
}


















/** Header **/

#header {
    background: #343434;
    height: 58px;
    background-image: url('../img/header_bg.jpg');
    color: #828282;
    border-top: #4e4e4e;
    border-bottom: 1px solid #bebebe;
}

#header A {
    color: #dedede;
}

#header A:hover {
	border-bottom: 1px solid #dedede;
}

.user_info, .user_settings {
    margin-top: 18px;
}

.user_settings {
    text-align: right;
}






/** Pagination **/

DIV.pagination {
	text-align: center;
	margin-bottom: 20px;
}

DIV.pagination UL, DIV.pagination UL LI {
	display: inline;
}

DIV.pagination UL LI A {
	margin: 0px 5px;
	padding: 2px 8px;
	background: #e0e0e0;
}

DIV.pagination UL LI A:hover {
	
	border: none;
}

.pagination_active A {
	color: #c0c0c0;
	background: none;
	cursor: default;
}


/** Messages **/

.message {
	background: #f5f5f5;
	border-bottom: 1px solid #d2d2d2;
	border-right: 1px solid #d2d2d2;
	margin-bottom: 20px;
	font-size: 12px;
	font-weight: bold;
	border-radius: 3px; /* Added by border radius plugin */
	-moz-border-radius: 3px; /* Added by border radius plugin */
	-webkit-border-radius: 3px; /* Added by border radius plugin */
	-khtml-border-radius: 3px; /* Added by border radius plugin */
}

.message_side {
	float: left;
	padding: 20px 10px;
	margin-right: 20px;
	}


.message_success {
	display: block;
	padding: 20px;
	color: #84a856;
}

.message_success_display {
	background: #84a856;
}


.message_fail {
	display: block;
	padding: 20px;
	color: #b7260e;
}

.message_fail_display {
	background: #b7260e;
}

.message_warning {
	display: block;
	padding: 20px;
	color: #d17806;
}

.message_warning_display {
	background: #d17806;
}



/** Navigation styles **/

#navigation {
    padding: 20px 30px;
    margin: 0px 10px;
	padding-bottom: 15px;
	margin-bottom: 10px;
    border-bottom: 1px solid #d9d9d9;
}

#navigation UL, #navigation LI {
    display: inline;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#navigation > UL > LI {
    margin-right: 90px;
}





/** Breadcrumbs **/


#breadcrumbs {
	color: #909090;
	padding: 10px;
	padding-bottom: 0px;
	margin-left: 30px;
	font-size: 12px;
}

#breadcrumbs A {
	color: #909090;
}

#breadcrumbs A:hover {
	border-bottom: 1px solid  #909090;
}

/** Sidebar **/

.sidebar, .main_content {
    margin-top: 20px;
    padding-top: 10px;
    
}

.sidebar {
    text-align: left;
    border-right: 1px solid #d9d9d9;
    padding-left: 40px;
    
}

.sidebar LI {
    font-size: 12px;
    line-height: 28px;
}

.sidebar LI > A {
    color: #7b7b7b;
}

.sidebar LI > A:hover {
	border-bottom: 1px solid #7b7b7b;
}

.sidebar UL.sublist {
	margin-left: 30px;
	list-style: circle;
}









/** Forms **/

.generic_form {
	border-top: 1px solid #d9d9d9;
	padding: 20px;
	margin-bottom: 20px;
}

.generic_form H3 {
	margin-top: 0px;
}

.form_box {
	margin-bottom: 10px;
}

.form_box  SPAN {
	display: block;
	font-size: 13px;
	margin-left: 10px;
	margin-bottom: 0px;
}

.form_submit > INPUT {
	border: 0px;
	padding: 12px 20px;
	font-family: 'Droid Sans';
	color: #d1fb8a;
	background: #5c9918;
	border-radius: 6px; /* Added by border radius plugin */
	-moz-border-radius: 6px; /* Added by border radius plugin */
	-webkit-border-radius: 6px; /* Added by border radius plugin */
	-khtml-border-radius: 6px; /* Added by border radius plugin */
}

.form_box_dropdown {
	
}

.form_box_dropdown OPTION {
	margin: 5px;
}

.form_box_dropdown SELECT {
	padding: 5px;
	margin-bottom: 20px;
	

}

.form_radios LABEL, .form_checkboxes LABEL {
	margin-right: 20px;
}

.form_checkboxes DIV { /** Remove this file to display inline checkboxes **/
	display: inline;
}

.form_radios INPUT, .form_checkboxes INPUT {
	position: relative;
	top: 2px;
	margin-right: 4px;
	margin-right: 10px;
}

INPUT, TEXTAREA {
	font-family: 'Droid Sans';
}

.input_text, TEXTAREA {
	background: #f5f5f5;
	border: 1px solid #f5f5f5;
	border-right: 1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
	padding: 10px;
	width: 250px;
}

TEXTAREA {
	width: 450px;
	height: 130px;
}








/** Footer **/

#footer {
    background: #1a1b1a;
    color: #eaeaea;
}

#footer_content {
    padding: 20px;
}

#footer_content UL, #footer_content LI {
	display: inline;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#footer_content > UL > LI {
    margin-right: 90px;
}

#footer_content A {
	color: #b7b7b7;
}

#footer_content A:hover {
	border-bottom: 1px solid #b7b7b7;
}

















